.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

user_guide/*
account_pdf_files/*
!account_pdf_files/.gitkeep 
content/images/ipvImages/*
!content/images/ipvImages/.gitkeep 
.htaccess
*/WS_FTP.log
# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
*.LOG
*.LOG
application/controllers/WS_FTP.LOG
application/controllers/WS_FTP.LOG
